<html>
    <head>
        <title>decidder</title>
    </head>
    <body>
    	<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#ddd">
			<tbody>
				<tr>
					<td>
						<table align="center" cellpadding="0" cellspacing="0" border="0" width="670" style="background:#fff;border:0; padding-bottom:40px">
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" border="0" width="670" style="background:#f2f2f2;table-layout:fixed">
										<tbody>
											<tr>
												<td style="width:30px;min-height:77px"></td>
												<td width="400" height="77" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333">
													<img src="http://www.decidder.com/assets/images/logo.png" border="0" width="170" height="36" style="display:block;line-height:100%;border:0"/>
												</td>
												<td width="200" height="77" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#76c959"><strong>Take decisions in the easy way!</strong></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="670" border="0" cellpadding="0" cellspacing="0" style="background:#fff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
										<tbody>
											<tr>
												<td>
													<table width="520" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
														<tbody>
															<tr>
																<td style="padding-top:20px;">