<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>decidder</title>
        <meta name="description" content="Helps you take decissions">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
        <style id="fonts">
            {% include 'fonts/helveticaneue.css' %}
            {% include 'fonts/helveticaneuecondensed.css' %}
            {% include 'fonts/batchicons.css' %}
            {% include 'fonts/satisfy.css' %}
        </style>

        <link rel="stylesheet" href="/assets/css/web.css" />
    </head>
    <body>
    	<div id="canvas">
    		<header class="green-border">
    			<div class="row">
    				<div class="six columns">
    					<a href="/"><img src="/assets/images/logo.png" width="170" height="36" alt="deccider logo" /></a>
    				</div>
    				<div class="six columns text-right end">
    					{% if session.user %}
    						<img src="{{session.user.image}}" id="avatar" alt="avatar" height="36" width="36" />

    						<div class="right">
	    						<a href="/user" id="nickname">{{session.user.nick}}</a><br />
	    						<a href="/auth/exit" class="logout">Log out</a>
    						</div>
    						
    					{% else %}
    						<a href="/auth/login/twitter" class="login twitter"> <i></i> Log in with Twitter</a>
                            <a href="/auth/login/facebook" class="login facebook"> <i></i> Log in with Facebook</a>
    					{% endif %}
    				</div>
    			</div>
    		</header>