{% include 'header.twig' %}

    <section class="row">
        <div class="nine columns centered">


            <form id="new-question" method="post" action="question" >

                <h4>Take decisions in the easy way!</h4>

                <br />

                <input type="text" name="question" placeholder="Type your question here" {% if question %}value="{{ question }}"{% endif %} autofocus />
                <div class="text-center">
                    <!--<button> Help me decidde! </button>-->
                </div>
            </form>

        </div>
    </section>

{% include 'footer.twig' %}