{% include 'header.twig' %}

    <section class="row">
        <div class="nine columns centered">

            <form id="question">
                <input type="text" name="question" placeholder="Type your question here" />
                <div class="text-center">
                    <!--<button> Help me decidde! </button>-->
                </div>
            </form>

        </div>
    </section>

{% include 'footer.twig' %}