
	<h5 id="heading">Request more info</h5>
	<section>

		<textarea name="text" placeholder="Que duda tienes?" required rows="5" tabindex="1"></textarea>

		<div class="text-right">
			<button class="red s close-reveal-modal" type="reset" tabindex="3">Cancel</button>
			<button class="green s" type="submit" tabindex="2">Send</button>
		</div>		
	</section>