
	<h5 id="heading">Request more info</h5>
	<section>

		<textarea name="text" placeholder="Que duda tienes?" required rows="5"></textarea>

		<div class="clearfix">
			<button class="green right s" type="submit">Send</button>
			<button class="red left s close-reveal-modal" type="reset">Cancel</button>
		</div>		
	</section>