
	<h5 id="heading">Send a new response</h5>
	<section>
		<input type="text" name="response" placeholder="response" required />

		<textarea name="argument" placeholder="write your argument here" required></textarea>

		<div class="clearfix">
			<button class="red left close-reveal-modal">Cancel</button>
			<button class="green right">Send</button>
		</div>
		
	</section>
