
	<h5 id="heading">Send a new response</h5>
	<section>
		<input type="text" name="title" {% if responseTitle %} value="{{ responseTitle }}" readOnly="true"{% else %}placeholder="Response" required {% endif %} />

		<textarea name="argument" placeholder="Write your argument here" required rows="5"></textarea>

		<div class="clearfix">
			<button class="green right s" type="submit">Send</button>
			<button class="red left s close-reveal-modal" type="reset">Cancel</button>
		</div>		
	</section>