<div class="modal m">
	<h5 id="heading">User questions</h5>
	<section>
		<div id="doubt-list">
			{% for doubt in doubts %}
				<a class="doubt block-grid async" href="/question/{{ question._id }}/doubt/{{ doubt._id }}" data-target="#responseDoubt" data-hide="#doubt-list">
					<div class="eleven columns">
	                	<h6>{{ doubt.text }}</h6>
					</div>
					<div class="one columns">
						<h6><i class="ic" data-icon="&#61469;"></i></h6>
					</div>
				</a>
			{% endfor %}
		</div>

		<div id="responseDoubt" style="width:100%;display:none"></div>
	</section>
</div>