<div class="modal m">
	<h5 id="heading">User questions</h5>
	<section>
		<div id="doubt-list">
			{% for doubt in doubts %}
				<a class="doubt block-grid slideEffect" 
					data-target="#responseDoubt" 
					data-value="{{ doubt._id }}" 
					data-text="{{ doubt.text }}" 
					data-tohide="#doubt-list" 
					data-addtext="#doubtText"

					
				>
					<div class="eleven columns">
	                	<h6>{{ doubt.text }}</h6>
					</div>
					<div class="one columns">
						<h6><i class="ic" data-icon="&#61469;"></i></h6>
					</div>
				</a>
			{% endfor %}
		</div>

		<div id="responseDoubt" style="width:100%;display:none">
			<form id="new-response-doubt" method="post" action="/question/{{ question._id }}/doubt/">
				<h3 id="doubtText"></h3>
            	<textarea name="text" placeholder="Write your response here" required rows="5"></textarea>
				<div class="clearfix">
					<button class="green right s" type="submit">Send</button>
					<button class="red left s close-reveal-modal" type="reset">Cancel</button>
				</div>
			 </form>
       	</div>
	</section>
</div>