.button, button {
	@include linear-gradient(#FFF, #CCC);
	@include prefixer(border-radius, 2px, webkit moz ms o spec);
	//@include prefixer(box-shadow, (0px 1px 1px 0 rgba(89, 89, 89, 0.5), 0px 1px 0px 0 rgba(255, 255, 255, 0.6) inset), webkit moz ms o spec);
	//@include prefixer(text-shadow, 0px 1px 1px rgba(50, 50, 50, 0.75), webkit moz ms o spec);
    margin: 0;
    display: inline-block;
    color: #555;
    border: 1px solid #C1C1C1;
    padding: 0.6em 1em;
    cursor: pointer;
    outline: none;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;


    &:hover {
    	background-color: #3072B3;
    	@include linear-gradient(#599BCD, #3072B3);
    	color: #FFF;
    	border-color: #2A65A0;
    }

    &:active {
    	color: #FFF;
    	background-color: #3072B3;
		background-image: none;
		border-color: #25588C;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    }

	&.xs, &.xs i { font-size: 9px !important; }
    &.s, &.s i { font-size: 11px !important; }



    &.green {
    	color: white;

		background-color: #469A40;
    	@include prefixer(text-shadow, 0 -1px 0 rgba(0, 0, 0, 0.25), webkit moz ms o spec);
		@include linear-gradient(#76C959, #469A40);
	    
	    border:1px solid #5CA941;
	    color:#fff;


		&:active {
	    	background-color: #569E3D;
			background-image: none;
			border-color: #418737;
	    }

		&:focus {			
			box-shadow: 0 0 5px rgba(24, 184, 24, 0.71);
	    }
    }


    &.red {
    	background-color: #B33630;
		@include linear-gradient(#DC5F59, #B33630);

	    border:1px solid #b0333e;
	    color:#fff;

	    &:active {
	    	@include linear-gradient(#B33630, #DC5F59);
	    }

	    &:focus {			
			box-shadow: 0 0 5px #E02F44;
	    }
    }

}