
@import "clearfix";
@import "normalize";
@import "foundation";
@import "bourbon/bourbon";
@import "buttons";
@import "icons";
@import "share";
@import "small-devices";

$helveticaN: "Helvetica N";
$helveticaC: "Helvetica NC";
$green: #469A40;

a, a:hover, a:focus { color: $green; }
html, body { height:100%; font-family: $helveticaN;  }
ul li { list-style: none; }  
i { vertical-align: middle; }
.light { color: #aaa; }
.mbottom-eight { margin-bottom: 8px; }

#loading { 
	position: absolute; 
	top: 50% !important;
	left: 50% !important;
	margin-left: -8px;
	margin-top: -8px;
	width: 16px; 
	height: 16px; 
	z-index: 99;
}

#canvas {
	min-height: 100%;
	background-color: rgba(232, 232, 232, 0.3);
}
.reveal-modal-bg { background-color: #FFF; }


.border-green {
	@include prefixer(box-shadow, 0px 9px 15px -10px rgba(0, 0, 0, 0.2), spec);
	padding-bottom: 0.3em;
	border-bottom: 1px solid $green;
}


header {
	background-color: #FFF;
	padding: 14px 0;
	margin-bottom: 1em;
	border-bottom: 1px solid $green;

	@include prefixer(box-shadow, 0 0 10px 0px hsla(0, 0%, 0%, 0.2), spec);

	a {
		font-size: 18px;
		font-family: $helveticaC, sans-serif;
	}

	.login {
		@include prefixer(border-radius, 3px, webkit moz ms o spec);
		line-height: 36px;
		margin-left: 1em;
		padding: 5px;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;

		i {
			$dimension: 24px;
			display: inline-block;
			height: $dimension;
			width: $dimension;
			vertical-align: middle;
			margin-top: -2px;
		}

		&.twitter {
			@include linear-gradient(top, #FFF, #DEDEDE);
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
			font-family: Arial;
			border: 1px solid #CCC;
			color: #333333;

			i {
				background: url(../images/twitter-login.png) no-repeat scroll center center transparent;
			}

			&:hover {
				@include linear-gradient(top, #F8F8F8, #D9D9D9);
			}
		}

		&.facebook {

			@include linear-gradient(top, #3765A4, #315B98);
			padding: 5px 7px;
			font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
			color: #FFF;
			border: 1px solid #879AC0;

			i {
				margin-right: 2px;
				width: 18px;
				height: 18px;
				background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/S-DbSHszr4D.png) no-repeat scroll 0 -178px transparent;
			}

			&:hover {
				@include linear-gradient(bottom, #3765A4, #315B98);
			}
		}

		&:active {
			@include prefixer(box-shadow, inset 0 3px 5px rgba(0,0,0,0.1), webkit moz ms o spec);
		}
	}

	.logout {
		font-size: 12px;
		line-height: 20px;
	}

	#avatar {
		float: right;
		margin: 0 0 0 1em;
		vertical-align: top;
		border: 1px solid #555;
		@include prefixer(border-radius, 1px, spec);
	}
}


#center {

	margin-top: 130px;

	h4 {
		text-align: center;
		font-family: 'Satisfy',sans-serif;
		font-size: 40px;
		margin-bottom: 60px;
		color: #65B850;
		text-shadow: 0 1px 2px rgba(30, 30, 30, .6);
	}

	input, input:focus {
		display: inline;
		display: inline-block;
		width: 90%;
		outline: none;
	    font-family: $helveticaN, sans-serif;

	    border: 0px;
	    @include prefixer(border-radius, 6px 0 0 6px, webkit moz ms o spec);
	   	padding: 10px;
	    height: auto;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0 2px 4px rgba(0, 0, 0, .2) inset, 0 -1px 3px rgba(0, 0, 0, .2) inset, 0 0 12px rgba(255, 255, 255, .1);

	    color: $green;
	    background-color: rgba(0, 0, 0, 0.03);

	    font-size: 24px;
	    text-align:center;
	    letter-spacing: -1px;
	    text-shadow: 0 2px 5px rgba(255, 255, 255, .6);
	}

	button, input, input:focus {
		height: 60px;
		vertical-align: top;
	}

	button {
		width: 10%;
		margin-left: -2px;
		font-size: 18px;
	}
}


.modal { 
	@include prefixer(border-radius, 8px, webkit moz ms o spec);

    padding: 0.5em;
    background: rgba(0,0,0,.3);
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    z-index: 100;
    margin: 0;
    width: 400px;

    @include prefixer(box-shadow, 0 0px 46px 0px #aaa, webkit moz ms o spec);

	&.m { width: 500px; }

    textarea {
    	resize: vertical;
    }

    textarea, input, select {
    	border: 1px solid #ccc;
    	font-size: 14px;
    	padding: 6px;
    	color: rgba(0, 0, 0, 0.75);
    	margin-bottom: 12px;
    	@include prefixer(box-shadow, inset 0 1px 2px rgba(0, 0, 0, 0.1), webkit moz ms o spec);
    	@include prefixer(border-radius, 2px, webkit moz ms o spec);
    	outline: none;

    	&:focus {
    		border-color: $green;
    		@include prefixer(box-shadow, 0 0 6px 0 $green, webkit moz ms o spec);
    	}
    }

    option {
    	outline: none;
    }
    
    select {
    	-webkit-appearance: none;
    	-moz-appearance: none;
    }

    .select {
    	cursor: auto;
    	position: relative;

    	&:after {
    		color: #666;
    		content: "\F0A7";
    		width: 10px;
    		height: 10px;
    		font-family: "Batch"; 
    		position: absolute;
    		top: 50%;
			right: 0;
			margin-top: -1em;
			margin-right: 1em;
			z-index: 0;
    	}
    }

	h5 {
		margin: 0;
	    
	    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));

	    //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');
	    border-bottom:1px solid #bababa;


		@include prefixer(box-shadow, (inset 0px 0px 0px #fff, 0px 1px 3px rgba(0,0,0,.08)), webkit moz ms o spec);
		@include prefixer(border-radius, 4px 4px 0px 0px, webkit moz ms o spec);
	    
		font-size: 18px;
	    font-weight:bold;
	    text-align:center;
	    line-height:3em;
	    color:#444444;
	    text-shadow:0px 1px 0px #fff;
	}


	section {
		padding: 1em;
	    background: #fcfcfc;
	    @include prefixer(box-shadow, 0px 1px 3px rgba(0,0,0,.25), webkit moz ms o spec);
	    @include prefixer(border-radius, 0 0 4px 4px, webkit moz ms o spec);
	}
}


.info {
	line-height: 20px;
	font-family: "Helvetica NC";
	color: #929292;
	padding-top: 0.5em;
	margin-top: 0.5em;
	/*border-top: 1px solid #EEE;*/

	div, a {
		font-size: 10px;
	}

	.options { display: none; }
}



#responses {
	.title {
		//@include linear-gradient(top, rgb(233, 233, 233), rgba(232, 232, 232, 0.3));
		background-color: #EFF0F4;
		border-top: 5px solid $green;
		
		margin: 1em 0 0 0;
		color: #3D444E;

		h3.number {
			background-color: rgba(255, 255, 255, 0.8);
			width: 76px;
			padding: 0.5em 0;
			text-align: center;
			border-bottom: 2px solid #333;
		}

		h3 {
			float: left;
			padding: 0.5em 4%;
			margin: 0;
		}

		i {
			display: inline-block;
			font-size: 27px; 
			color: $green; 
			padding: 0.5em 0;
			//margin-right: 0.5em;
		}

		button i, .button i {
			color: #666;
			padding: 0;
		}
		button:hover i, .button:hover i {
			color: #FFF;
		}

		a {
			margin: 15px 1.5em;
		}
	}

	.arguments {
		//background-color: #F3F3F3;
		padding: 1em 0 0 0;
		margin-bottom: 1em;
	}

	p { 
		margin: 0; 
		font-size: 16px;
	}

	article {
		//@include prefixer(box-shadow, 3px 5px 6px -4px rgba(0, 0, 0, 0.25), webkit moz ms o spec);
		font-family: $helveticaN;
		padding: 1em;
		margin-bottom: 1em;
		background-color: #fff;
		border: 1px solid #EEE;
		@include prefixer(border-radius, 2px, spec);

		&:before, &:after {
			content: "";
			position: absolute;
			top: 0.8em;
			left: -15px;

			border: 8px solid transparent;
			border-right-color: #fff;
		}

		&:before {
			left: -16px;
			border-right-color: #EEE;
		}

		&:hover .options { display: block; }
	}
}


#question {
	min-height: 250px;
	background-color: #FFF;
	padding: 1em 2em;
	@include prefixer(border-radius, 8px, webkit moz ms o spec);

	&:after {
		content: "";
		position: absolute;
		border: 16px solid transparent;
		border-left-color: #FFF;
		top: 3em;
		right: -16px;
	}

	h1 {
		margin: 0;
	}

	#predefined li:first-child {
		padding-top: 1em;
		border-top: 1px dotted #ccc;
	}

	.info { 
		line-height: 20px; 
	
		.options { 
			display: block; 
		}
	}
}


.context {
	//background-color: rgba(232, 232, 232, 0.5);
	padding: 1em;

	p {
		font-family: $helveticaC;
		font-size: 18px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

textarea.context {
	padding: 6px;
}

.poster {
	@include prefixer(border-radius, 40px, spec);
	@include prefixer(box-shadow, 0px 9px 20px -10px rgba(10, 10, 10, 0.8), webkit moz ms o spec);
	border: 1px solid #FFF;
	margin: 1em 0 1.5em;
}

.avatar {
	@include prefixer(border-radius, 20px, spec);
}

.mbottom-eight {
	margin-bottom: 8px;
}	

// Tags input
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; overflow-y: auto;}
div.tagsinput span.tag { 
	border: 1px solid #a5d24a; 
	-moz-border-radius:2px; 
	-webkit-border-radius:2px; 
	display: block; 
	padding: 5px; 
	text-decoration:none; 
	background: #cde69c; 
	color: #638421; 
	margin-right: 5px; 
	margin-bottom:5px;
	font-family: helvetica;  
	font-size:13px;
}
div.tagsinput span.tag a { font-weight: bold; float:right; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}




#doubts {
	border-top: 1px dotted #CCC;
	margin-left: 1em;
	padding: 0.5em 0 0 2em;

	.doubt {
		padding: 4px 0 4px 1em;
		font-family: $helveticaC;
		color: #666;
		border-bottom: 1px solid #F1F1F1;
	}
}

#doubt-list {
	.doubt {
		border-bottom: 1px solid #e8e8e8;

		&:hover {
			background-color: #cde69c;
		}

		&:last-child { border-bottom-width: 0px; }
	}
}

