
@import "normalize";
@import "foundation";
@import "bourbon/bourbon";

$helveticaN: "Helvetica N";
$helveticaC: "Helvetica NC";
$green: #469A40;

a, a:hover, a:focus { color: $green; }
html, body { height:100%; font-family: $helveticaN; }

header {
	padding: 14px 0;
	margin-bottom: 1em;
	border-bottom: 1px solid $green;

	@include prefixer(box-shadow, 0 0 10px 0px hsla(0, 0%, 0%, 0.2), spec);

	a {
		font-size: 18px;
		font-family: $helveticaC, sans-serif;
	}

	.login {
		line-height: 36px;
	}

	.logout {
		font-size: 12px;
		line-height: 20px;
	}

	#avatar {
		float: right;
		margin: 0 0 0 1em;
		vertical-align: top;
		border: 1px solid #555;
		@include prefixer(border-radius, 1px, spec);
	}
}


#new-question {
	margin-top: 150px;

	input, input:focus {
	    font-family: $helveticaN, sans-serif;

	    border: 0px;
	    border-radius:6px;
	   	padding: 10px;
	    height: auto;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0 2px 4px rgba(0, 0, 0, .2) inset, 0 -1px 3px rgba(0, 0, 0, .2) inset, 0 0 12px rgba(255, 255, 255, .1);

	    color: $green;
	    background-color: rgba(0, 0, 0, 0.03);

	    font-size: 35px;
	    text-align:center;
	    letter-spacing: -1px;
	    text-shadow: 0 2px 5px rgba(255, 255, 255, .6);
	}

	button {
		font-size: 18px
	}
}

#responses {
	h3 {
		border-top:5px solid #B2C51B;
		padding: 0.8em 4% 0.3em;
		margin: 1em 0 0 0;
	}

	.arguments {
		background-color: #F3F3F3;
		padding: 1em 2% 0 4%
	}

	p {
		border-bottom: 1px solid #999;
		font-family: $helveticaC;
		padding: 1em;
		background-color: #D9D9D9;
	}

}

.context {
	background-color: rgba(232, 232, 232, 0.5);
	padding: 1em;

	p {
		font-family: $helveticaC;
		font-size: 14px;
		margin: 0
	}
}


.border-green {
	@include prefixer(box-shadow, 0px 9px 15px -10px rgba(0, 0, 0, 0.2), spec);
	padding-bottom: 0.3em;
	border-bottom: 1px solid $green;
}
